@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.table-title, .list-header, .stat {
    text-align: left;
    margin-left: 10%;
    font-family: 'Orbitron', sans-serif;
}
.col-md-6 .table .table-title {
    text-align: center;
    margin-left: 0;
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.homeStats{
    font-size: 75%;
    width: 25%;
    height: 10%;
    background: rgba(247, 233, 233, 0.575);
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: 'Orbitron', sans-serif;
    
}
.homeStats1{
    font-size: 75%;
    width: 25%;
    height: 10%;
    background: rgba(124, 13, 13, 0.555);
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: 'Orbitron', sans-serif;
    
}
.homeStats2{
    font-size: 75%;
    width: 25%;
    max-height: 5%;
    background: rgba(247, 233, 233, 0.575);
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: 'Orbitron', sans-serif;
}
.btn{
    float: right;
    background-color: red;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    border: 2px solid black;
    margin-top: 5%;
}
.btn:hover {
    background-color: blue;
    color: white;
  }

.homeWrap{
    border-top: 3px solid;
    background-image: url("../Draft/images/homebg.jpg");
    background-size: 100% 100%;
    
    
}
.team{
    background: rgba(124, 13, 13, 0.555);
}
.navbar-brand{
    color: red;
}

.userTeam-rankings{
    font-family: 'Orbitron', sans-serif;
}