.logPage{
    background-image: url("../Draft/images/log.jpg");
    background-size: 100% 100%;
    border-top: 3px solid;
    padding-bottom: 15%
}

.logIn{
    background: rgba(250, 249, 249, 0.774);
    border-radius: 25px;
    padding: 5%;
}

.SignIn-paper-2{
    margin-top: 0px !important;
}
